
{% block navbar_app %}
    <nav id="navbar--app" class="navbar--app">
        <ul class="opciones_menu macromenu">
            <li class="item opciones_menu-item {% if macromenu_actual == 'index' %}active{% endif %}">
                <a href="{% url 'docente:index' %}">
                    <span class="icon_container">
                        <svg class="icon icon--sm"><use xlink:href="#icon_calendar"></use></svg>
                    </span><span class="info">Calendario Actual</span>
                </a>
            </li>
            <li class="item opciones_menu-item {% if macromenu_actual == 'cursos' %}active{% endif %}">
                <a href="{% url 'docente:cursos' %}">
                    <span class="icon_container">
                        <svg class="icon icon--sm"><use xlink:href="#icon_books"></use></svg>
                    </span><span class="info">Mis cursos</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}