
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Inicio{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Calendario de exámenes</h1>
        <p class="contexto--app-descripcion">Visualice el calendario de exámenes del semestre en curso o
            utilice el filtro de búsqueda para modificar la consulta (históricos, por ejemplo).</p>
        <section class="section">
            <div class="list_container indicador_activo">
                <ul class="calendario_inactivos">
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info"><strong>Semestre activo: {% if semestre_academico_activo %}
                            {{ semestre_academico_activo.anio }} - {{ semestre_academico_activo.periodo }}
                        {% else %}El sistema no registra ningún semestre activo.{% endif %}</strong></span>
                        {% if semestre_academico_activo %}
                            <div class="icon_box">
                                <a class="fav_link icono--activo" data-fecha-festivo="2017-01-01"
                                data-estado="true">
                                    <span class="icon_container">
                                        <span class="icon icon--sm"></span>
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </section>
        <section class="section calendario">
            <div class="col--left">
                <div class="calendario_container box_container">
                    <div id='calendar' class="calendario"></div>
                </div>
            </div>
        </section>
        <section class="section">
            <form class="form form--horizontal">
                <div class="form-grupo">
                    <div class="input_group input_group--3">
                        <label class="label" for="periodoExamenesFiltrarCalendario">Período de Evaluaciones</label>
                        <select id="periodoExamenesFiltrarCalendario" name="periodoExamenesFiltrarCalendario" class="input">
                            <option value="1">Primeros previos</option>
                            <option value="2">Segundos previos</option>
                            <option value="3">Exámenes finales</option>
                            <option value="4">Exámenes de habilitación/opcionales</option>
                            <option value="0" selected>Todos los períodos</option>
                        </select>
                    </div>
                    <div class="input_group input_group--5">
                        <label class="label" for="semestrePensumFiltrarCalendario">Semestre Pénsum</label>
                        <select id="semestrePensumFiltrarCalendario" name="semestrePensumFiltrarCalendario" class="input">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="0" selected>Todos</option>
                        </select>
                    </div>
                </div>
                <div class="form-grupo">
                    <div class="input_group input_group--3">
                        <label class="label" for="anioFiltrarCalendario">Semestre Calendario Académico</label>
                        <select id="semestreAcademicoFiltrarCalendario" name="semestreAcademicoFiltrarCalendario" class="input">
                            {% for semestre in semestres_academicos %}
                                <option value="{{ semestre.id }}"
                                        data-anio-semestre="{{ semestre.anio }}" data-periodo-semestre="{{ semestre.periodo }}"
                                {% if semestre.activo %}selected{% endif %}>
                                    {{ semestre.anio }} - Semestre {{ semestre.periodo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button id="filtrarCalendarioBtn" class="btn btn--dark" type="submit">
                    Filtrar</button>
            </form>
        </section>
        <section class="section">
            <h1 class="section-titulo">Generar reporte</h1>
            <p class="descripcion">Imprima el calendario de exámenes de acuerdo al filtro especificado o el calendario
            completo.</p>
            <div class="botones">
                <a id="generarReporteFiltro" target="_blank" class="btn btn--dark" type="submit">Reporte de calendario según filtro actual</a>
            </div>
        </section>
    {% endblock %}

    {% block scripts %}
        <script>var cargarCalendarioVista = true, cargarCalendarioTemporalVista = true;</script>
    {% endblock %}
