
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Configuración Calendario{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Configuración del semestre académico</h1>
        <p class="contexto--app-descripcion">Esta opción le permite actualizar los períodos de evaluación del semestre
        en curso y agregar fechas sugeridas para la calendarización de exámenes.</p>
        {% if semestre_academico_activo %}
            <section class="section">
                <h1 class="section-titulo">Configuración de fechas</h1>
                <p class="descripcion">Configure las fechas de calendarización para los exámenes del semestre.</p>
                <form class="form form--horizontal">
                    <div class="form-grupo">
                        <h3 class="form-grupo-titulo">Primeros previos</h3>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaInicioPrimerosPrevios">Fecha Inicio de Período</label>
                            <input id="fechaInicioPrimerosPrevios" name="fechaInicioPrimerosPrevios" type="date" class="input"
                            value="{{ primeros_previos.fecha_inicio|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaFinPrimerosPrevios">Fecha Fin de Período</label>
                            <input id="fechaFinPrimerosPrevios" name="fechaFinPrimerosPrevios" type="date" class="input"
                            value="{{ primeros_previos.fecha_fin|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="numeroResolucionPrimerosPrevios">No. Resolución</label>
                            <input id="numeroResolucionPrimerosPrevios" name="numeroResolucionPrimerosPrevios" type="text" class="input"
                            value="{{ primeros_previos.numero_resolucion|default_if_none:'' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaResolucionPrimerosPrevios">Fecha Resolución</label>
                            <input id="fechaResolucionPrimerosPrevios" name="fechaResolucionPrimerosPrevios"
                                   type="date" class="input"
                            value="{{ primeros_previos.fecha_resolucion|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <div class="botones">
                                <button data-tipo-examen="1" class="btn btn--dark js-actualizarFechaPeriodo" type="submit">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="form form--horizontal">
                    <div class="form-grupo">
                        <h3 class="form-grupo-titulo">Segundos previos</h3>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaInicioSegundosPrevios">Fecha Inicio de Período</label>
                            <input id="fechaInicioSegundosPrevios" name="fechaInicioSegundosPrevios" type="date" class="input"
                            value="{{ segundos_previos.fecha_inicio|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaFinSegundosPrevios">Fecha Fin de Período</label>
                            <input id="fechaFinSegundosPrevios" name="fechaFinSegundosPrevios" type="date" class="input"
                            value="{{ segundos_previos.fecha_fin|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="numeroResolucionSegundosPrevios">No. Resolución</label>
                            <input id="numeroResolucionSegundosPrevios" name="numeroResolucionSegundosPrevios" type="text" class="input"
                            value="{{ segundos_previos.numero_resolucion|default_if_none:'' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaResolucionSegundosPrevios">Fecha Resolución</label>
                            <input id="fechaResolucionSegundosPrevios" name="fechaResolucionSegundosPrevios"
                                   type="date" class="input"
                            value="{{ segundos_previos.fecha_resolucion|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <div class="botones">
                                <button data-tipo-examen="2" class="btn btn--dark js-actualizarFechaPeriodo" type="submit">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="form form--horizontal">
                    <div class="form-grupo">
                        <h3 class="form-grupo-titulo">Exámenes finales</h3>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaInicioExamenesFinales">Fecha Inicio de Período</label>
                            <input id="fechaInicioExamenesFinales" name="fechaInicioExamenesFinales" type="date" class="input"
                            value="{{ examenes_finales.fecha_inicio|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaFinExamenesFinales">Fecha Fin de Período</label>
                            <input id="fechaFinExamenesFinales" name="fechaFinExamenesFinales" type="date" class="input"
                            value="{{ examenes_finales.fecha_fin|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="numeroResolucionExamenesFinales">No. Resolución</label>
                            <input id="numeroResolucionExamenesFinales" name="numeroResolucionExamenesFinales" type="text" class="input"
                            value="{{ examenes_finales.numero_resolucion|default_if_none:'' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaResolucionExamenesFinales">Fecha Resolución</label>
                            <input id="fechaResolucionExamenesFinales" name="fechaResolucionExamenesFinales"
                                   type="date" class="input"
                            value="{{ examenes_finales.fecha_resolucion|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <div class="botones">
                                <button data-tipo-examen="3" class="btn btn--dark js-actualizarFechaPeriodo" type="submit">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="form form--horizontal">
                    <div class="form-grupo">
                        <h3 class="form-grupo-titulo">Exámenes de habilitación/opcionales</h3>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaInicioExamenesHO">Fecha Inicio de Período</label>
                            <input id="fechaInicioExamenesHO" name="fechaInicioExamenesHO" type="date" class="input"
                            value="{{ examenes_ho.fecha_inicio|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaFinExamenesHO">Fecha Fin de Período</label>
                            <input id="fechaFinExamenesHO" name="fechaFinExamenesHO" type="date" class="input"
                            value="{{ examenes_ho.fecha_fin|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="numeroResolucionExamenesHO">No. Resolución</label>
                            <input id="numeroResolucionExamenesHO" name="numeroResolucionExamenesHO" type="text" class="input"
                            value="{{ examenes_ho.numero_resolucion|default_if_none:'' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaResolucionExamenesHO">Fecha Resolución</label>
                            <input id="fechaResolucionExamenesHO" name="fechaResolucionExamenesHO"
                                   type="date" class="input"
                            value="{{ examenes_ho.fecha_resolucion|date:'Y-m-d' }}" />
                        </div>
                        <div class="input_group input_group--4">
                            <div class="botones">
                                <button data-tipo-examen="4" class="btn btn--dark js-actualizarFechaPeriodo" type="submit">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <!--
            <section class="section">
                <h1 class="section-titulo">Configuración de sugerencias</h1>
                <p class="descripcion">Configure las fechas de preferencia (opcionales) para los exámenes de un grupo.</p>
                <form class="form form--horizontal">
                    <div class="form-grupo">
                        <div class="input_group input_group--4">
                            <label class="label" for="grupoSugerencia">Grupo Académico</label>
                            <input id="grupoSugerencia" class="input" list="gruposDatalist" />
                            <datalist id="gruposDatalist">
                                <option value="11501-A Cálculo Diferencial" />
                                <option value="11506-A Visión Robótica" />
                                <option value="11503-B Robótica Cognitiva" />
                            </datalist>
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="fechaFinExamenesHO">Fecha Sugerida</label>
                            <input id="fechaFinExamenesHO" name="fechaFinExamenesHO" type="date" class="input" />
                        </div>
                        <div class="input_group input_group--4">
                            <label class="label" for="periodoEvaluacionSugerencia">Período de Evaluación</label>
                            <select id="periodoEvaluacionSugerencia" name="periodoEvaluacionSugerencia" class="input">
                                <option value="1">Primeros previos</option>
                                <option value="2">Segundos previos</option>
                                <option value="3">Exámenes finales</option>
                                <option value="4">Exámenes de habilitación/opcionales</option>
                            </select>
                        </div>
                        <div class="botones">
                            <button class="btn btn--dark" type="submit">Agregar</button>
                        </div>
                    </div>
                </form>
            </section>
            -->
            {% else %}
                <p class="contexto--app-descripcion"><strong>El sistema no registra ningún semestre activo.</strong></p>
            {% endif %}
    {% endblock %}
