
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Fechas Inactivas{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Calendario de días inactivos/festivos</h1>
        <p class="contexto--app-descripcion">Visualice y actualice las fechas marcadas como no hábiles para la programación.
        Para incluir o remover una fecha del calendario de festivos, haga clic sobre el círculo <strong>verde</strong> y
            su estado se actualizará.</p>
        <section class="section">
            {% if calendario_festivos %}
                <div class="table_layout table_layout--estilo1 table_layout--full table_layout--resultados box_container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mes</th>
                                <th>Día</th>
                                <th>Descripción</th>
                                <th>Incluir/Remover</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fecha in calendario_festivos %}
                                <tr id="usuario_01">
                                    <td>{{ fecha.fecha|date:'F/Y' }}</td>
                                    <td>
                                        {{ fecha.fecha|date:'l d' }}
                                    </td>
                                    <td>
                                        {{ fecha.descripcion }}
                                    </td>
                                    <td class="td--icon">
                                        <a class="{% if fecha.estado %}icono--activo{% else %}icono--inactivo{% endif %} js-actualizarFechaFestivo"
                                        title="{% if fecha.estado %}Ignorar fecha{% else %}Activar fecha{% endif %}"
                                        data-fecha-festivo="{{ fecha.fecha|date:'Y-m-d' }}">
                                            <span class="icon_container">
                                                <span class="icon icon--sm"></span>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="descripcion">No se encontraron fechas festivas registradas.</p>
            {% endif %}
        </section>
        <section class="section">
            <div class="panel_opciones col--left">
                <header class="panel_opciones-header">
                    <h2 class="panel_opciones-header-title">Restaurar fechas</h2>
                </header>
                <p class="descripcion">Se inicializará el calendario de festivos con las fechas por defecto detectadas para
                Colombia (año en curso).</p>
                <form action="{% url 'director-programa:restaurar-festivos' %}" class="form" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn--dark">Restaurar</button>
                </form>
            </div>
        </section>
        <section class="section">
            <h1 class="section-titulo">Agregar fecha</h1>
            <p class="descripcion">Ingrese una nueva fecha personalizada de inactividad al calendario.</p>
            <form action="{% url 'director-programa:agregar-festivo' %}" class="form" method="POST">
                {% csrf_token %}
                <div class="form-grupo">
                    <div class="input_group input_group--4">
                        <label class="label" for="fechaNoHabil">Fecha No Hábil</label>
                        <input id="fechaNoHabil" name="fechaNoHabil" type="date" class="input" />
                    </div>
                    <div class="input_group input_group--2">
                        <label class="label" for="descripcionFechaNoHabil">Descripción</label>
                        <input id="descripcionFechaNoHabil" name="descripcionFechaNoHabil" type="text" class="input" />
                    </div>
                    <div class="botones">
                        <button class="btn btn--dark" type="submit">Agregar</button>
                    </div>
                </div>
            </form>
        </section>
    {% endblock %}
