
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Generar Calendario{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Programación de calendario</h1>
        <p class="contexto--app-descripcion">Esta opción le permite realizar la programación de exámenes para los
            grupos seleccionados en el período indicado. Recuerde que en el proceso se tendrán en cuenta las
            <a href="{% url 'director-programa:configuracion-restricciones' %}"
               class="link">restricciones de optimización</a> configuradas en el sistema.</p>
        <section class="section">
            <div class="list_container indicador_activo">
                <ul class="calendario_inactivos">
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info"><strong>Semestre activo: {% if semestre_academico_activo %}
                            {{ semestre_academico_activo.anio }} - {{ semestre_academico_activo.periodo }}
                        {% else %}El sistema no registra ningún semestre activo.{% endif %}</strong></span>
                        {% if semestre_academico_activo %}
                            <div class="icon_box">
                                <a class="fav_link icono--activo" data-fecha-festivo="2017-01-01"
                                data-estado="true">
                                    <span class="icon_container">
                                        <span class="icon icon--sm"></span>
                                    </span>
                                </a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </section>
        <section class="section">
            <div class="calendar col--left">
                <div class="list_container">
                    <ul class="semestres">
                        {% for semestre, grupos in semestres_grupos.items %}
                            <li class="semestres-item macro_item macro_item--full">
                                <a id="macro_item_sublista_{{ forloop.counter0 }}" class="js-macroItem" href="#!" data-link="semestre_sublista_{{ forloop.counter0 }}"
                                data-clase-sublista=".js-sublistaGrupos">
                                    <span class="info">Semestre {{ semestre }}</span>
                                    <div class="icon_box">
                                        <span class="icon_container">
                                            <object class="icon icon--medium" type="image/svg+xml" data="{% static 'images/svg/navdown.svg' %}">
                                              <img src="" />
                                              <!-- fallback with png image for browsers with NO SVG support -->
                                            </object>
                                        </span>
                                    </div>
                                </a>
                                <ul id="semestre_sublista_{{ forloop.counter0 }}" class="sublist js-sublistaGrupos">

                                    <li class="grupo">
                                        <div class="input_group input_group--check input_group--ayuda input_group--1">
                                            <div class="check_container" style="width: 100%">
                                                <input class="checkMarcarSemestreProgramar" name="marcarSemestreProgramar" data-semestre="{{ semestre }}"
                                                   type="checkbox" class="input" style="vertical-align: text-bottom;height: 1.25rem;width: 1.25rem;" />
                                                <span><strong>Marcar/desmarcar semestre</strong></span>
                                                <span class="icon_container ayuda" data-balloon="Seleccione todos los grupos del Semestre {{ semestre }}"
                                                         data-balloon-pos="down" data-balloon-length="large">
                                                    <svg class="icon icon--sm" viewBox="0 0 309.267 309.267"
                                                         style="transform: translate(-50%, -50%);left: 50%;">
                                                        <use class="ic-1" xlink:href="#icon-question" />
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </li>

                                    {% for grupo in grupos %}
                                        <li class="grupo">
                                            <div class="input_group input_group--check input_group--1">
                                                <div class="check_container">
                                                    <input name="grupoExamenProgramar[]" type="checkbox" class="input"
                                                           value="{{ grupo.plandeestudios }}-{{ grupo.codigo }}-{{ grupo.grupo }}"
                                                    data-plan-estudios="{{ grupo.plandeestudios }}" data-codigo="{{ grupo.codigo }}"
                                                           data-literal-grupo="{{ grupo.grupo }}" data-semestre="{{ semestre }}"/>
                                                    <span>{{ grupo.plandeestudios }}{{ grupo.codigo }}-{{ grupo.grupo }} {{ grupo.nombre }}</span>
                                                </div>
                                            </div>
                                        </li>
                                    {% empty %}
                                        No hay grupos registrados.
                                    {% endfor %}
                                </ul>
                            </li>
                        {% empty %}
                            No hay grupos registrados en el sistema.
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="panel_opciones col--right">
                <form class="form form--vertical">
                    <div class="form-grupo">
                        <div class="input_group input_group--check input_group--ayuda input_group--1">
                            <a id="verCalendarioPendienteBtn" href="{% url 'director-programa:calendario-temporal' %}"
                               class="btn btn--dark" type="submit">Ver calendario pendiente</a><!--
                            --><span class="icon_container ayuda" data-balloon="A través de esta opción puede visualizar algún calendario temporal que
                                haya sido guardado sin confirmación." data-balloon-pos="down-right"
                                data-balloon-length="large">
                                <svg class="icon icon--sm" viewBox="0 0 309.267 309.267">
                                    <use class="ic-1" xlink:href="#icon-question" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </form>
                <div class="input_group input_group--check input_group--ayuda input_group--1">
                    <div class="check_container">
                        <input id="checkMarcarGruposProgramar" name="marcarGruposProgramar" type="checkbox" class="input" />
                        <span>Marcar/desmarcar todos los grupos</span><!--
                        --><span class="icon_container ayuda" data-balloon="A través de esta opción puede seleccionar
                        todos los grupos del pénsum académico para programarlos." data-balloon-pos="down-right"
                            data-balloon-length="large">
                            <svg class="icon icon--sm" viewBox="0 0 309.267 309.267">
                                <use class="ic-1" xlink:href="#icon-question" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <h1 class="section-titulo">Período a programar</h1>
            <p class="descripcion">Seleccione el tipo de exámenes del semestre en curso que desee programar.</p>
            <form class="form">
                <div class="input_group input_group--check input_group--1">
                    {% for semestre_periodo in semestres_periodos %}
                        <div class="check_container">
                            <input name="periodoExamenesProgramar" type="radio" className="input"
                                   value="{{ semestre_periodo.periodo_tipo_examen.tipo_examen }}"
                                   {% if semestre_periodo.publicado %}disabled{% endif %}
                            /><span class="{% if semestre_periodo.publicado %}disabled{% endif %}">{{ semestre_periodo.periodo_tipo_examen.get_tipo_examen_display }} {% if semestre_periodo.publicado %}(calendario ya publicado){% endif %}</span>
                        </div>
                    {% empty %}
                        No hay períodos habilitados para realizar la programación.
                        Complete la <a href="{% url 'director-programa:configuracion-calendario' %}"
                                      class="link">configuración los períodos de evaluación.</a>
                    {% endfor %}
                </div>
                {% if semestres_periodos %}
                    <div class="botones">
                        <button id="programarCalendarioBtn" class="btn btn--dark" type="submit">Programar</button>
                    </div>
                {% endif %}
            </form>
        </section>
        <section class="section">
            <h1 class="section-titulo">Programación manual de exámenes</h1>
            <p class="descripcion">Como alternativa, si desea asignar la fecha de forma manual a los grupos para uno o más períodos de evaluación, puede utilizar esta
            opción.</p>
            <div class="botones">
                <a href="{% url 'director-programa:programacion-grupo' %}" class="btn btn--dark" type="submit">Programación manual de grupo</a>
            </div>
        </section>
    {% endblock %}
    {% block dialogo_cover %}
        <div id="previsualizacion_calendario_container"></div>
    {% endblock %}

    {% block scripts %}
        <script>
        /*
            new Tooltip($('#verCalendarioPendienteBtn'), {
                placement: 'top',
                title: 'A través de esta opción puede visualizar algún calendario temporal que haya sido guardado sin ' +
                'confirmación.'
            });
            */
        </script>
    {% endblock %}