
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Ponderación de Dificultad de Asignaturas{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Ponderación de dificultad de asignaturas</h1>
        <p class="contexto--app-descripcion">Esta opción le permite asignar o actualizar el nivel de dificultad
            de las asignaturas del Programa. Los valores pueden estar entre 1 y 5, siendo 1 la <strong>dificultad mínima</strong>
            y 5 la <strong>dificultad máxima</strong>.</p>
        <p class="contexto--app-descripcion"><i>Anotación: Cuando se carga una nueva asignatura, por defecto toma
            un nivel de dificultad de cero (0) y este debe actualizarse, de lo contrario, no podrá realizar la
            programación de exámenes.</i>
        </p>
        <section class="section">
            <h1 class="section-titulo">Asignatura a evaluar</h1>
            <p class="descripcion">Ingrese la información de la asignatura</p>
            <form class="form form--horizontal">
                <div class="form-grupo">
                    <div class="input_group input_group--2">
                        {% if materias %}
                            <label class="label" for="grupoSugerencia">Asignatura</label>
                            <input id="materiaAsignarPeso" name="materiaAsignarPeso" class="input" list="materiasDatalist"
                            autofocus/>
                            <datalist id="materiasDatalist">
                                {% for materia in materias %}
                                    <option value="{{ materia.plandeestudios }}-{{ materia.codigo }}-{{ materia.nombre }}"
                                        data-plan-estudios="{{ materia.plandeestudios }}" data-codigo="{{ materia.codigo }}">
                                    </option>
                                {% endfor %}
                            </datalist>
                        {% else %}
                            <p>No se encontraron asignaturas registradas.</p>
                        {% endif %}
                    </div>
                    <div class="form-grupo">
                        <div class="input_group input_group--4">
                            <label class="label" for="periodoProgramarManual">Peso/Nivel</label>
                            <select id="pesoNiveldificultad" name="pesoNiveldificultad" class="input">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="input_group input_group--4">
                            <div class="botones">
                                <button id="asignarPesoMateriaBtn" class="btn btn--dark" type="submit">Asignar dificultad</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section class="section">
            <h1 class="section-titulo">Estado de ponderación asignada</h1>
            {% if materias %}
                <div class="table_layout table_layout--estilo1 table_layout--full table_layout--resultados box_container">
                    <table id="tablaAsignaturas" class="table tablaAsignaturas">
                        <thead>
                            <tr>
                                <th>Asignatura</th>
                                <th>Dificultad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for materia in materias %}
                                <tr>
                                    <td {% if materia.peso == 0 %}style="background: rgba(210, 96, 78, .3);"{% endif %}>{{ materia.plandeestudios }}{{ materia.codigo }} - {{ materia.nombre }}</td>
                                    <td {% if materia.peso == 0 %}style="background: rgba(210, 96, 78, .5);"{% endif %}>
                                        {{ materia.peso }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="descripcion">No se encontraron asignaturas registrados.</p>
            {% endif %}
        </section>
    {% endblock %}

    {% block scripts %}
        <script>
            $(document).ready( function () {
                $('#tablaAsignaturas').DataTable({
                    "order": []
                });
                $('#tablaAsignaturas_filter label').css({
                    'display': 'inline-block'
                });
                $('input[aria-controls="tablaAsignaturas"], select[aria-controls="tablaAsignaturas"]').css({
                    'border': '1px solid rgba(0,0,0,.6)',
                    'border-radius': '3px',
                    'outline': '0',
                    'padding': '.4rem .8rem',
                    'margin': '1rem .5rem',
                    'display': 'inline-block'
                });
            });
        </script>
    {% endblock %}