
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Programación de Grupo{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Programación manual de exámenes</h1>
        <p class="contexto--app-descripcion">Esta opción le permite asignar o actualizar manualmente la fecha de
            calendarización de los exámenes del semestre en curso.</p>
        <p class="contexto--app-descripcion"><i>Anotación: en ocasiones podría haber conflicto con la
                programación automática para algunos grupos por no disponibilidad de días hábiles, así que puede completar
                el proceso mediante esta opción.</i>
        </p>
        <section class="section">
            <h1 class="section-titulo">Examen a programar</h1>
            <p class="descripcion">Ingrese los datos del grupo a programar y el período correspondiente.</p>
            <form class="form form--horizontal">
                <div class="form-grupo">
                    <div class="input_group input_group--3">
                        <label class="label" for="periodoProgramarManual">Período de Evaluaciones</label>
                        <select id="periodoProgramarManual" name="periodoProgramarManual" class="input">
                            <option value="1">Primeros previos</option>
                            <option value="2">Segundos previos</option>
                            <option value="3">Exámenes finales</option>
                            <option value="4">Exámenes de habilitación/opcionales</option>
                        </select>
                    </div>
                </div>
                <div class="form-grupo">
                    <div class="input_group input_group--2">
                        <label class="label" for="grupoSugerencia">Grupo Académico</label>
                        <input id="grupoProgramarManual" name="grupoProgramarManual" class="input" list="gruposDatalist" />
                        {% if grupos %}
                            <datalist id="gruposDatalist">
                            {% for grupo in grupos %}
                                <option value="{{ grupo.plandeestudios }}-{{ grupo.codigo }}-{{ grupo.grupo }}-{{ grupo.nombre }}"
                                    data-plan-estudios="{{ grupo.plandeestudios }}" data-codigo="{{ grupo.codigo }}"
                                           data-literal-grupo="{{ grupo.grupo }}" data-semestre="{{ semestre }}">
                                </option>
                                No hay grupos registrados.
                            {% endfor %}
                        </datalist>
                        {% else %}
                            <p>No se encontraron grupos activos.</p>
                        {% endif %}
                    </div>
                    <div class="input_group input_group--4">
                        <label class="label" for="fechaProgramarManual">Fecha</label>
                        <input id="fechaProgramarManual" name="fechaProgramarManual" class="input" type="date" />
                    </div>
                </div>
                <div class="form-grupo">
                    <div class="input_group input_group--4">
                        <label class="label" for="horaInicialProgramarManual">Hora Inicial</label>
                        <input id="horaInicialProgramarManual" name="horaInicialProgramarManual" class="input" type="time" />
                    </div>
                    <div class="input_group input_group--4">
                        <label class="label" for="horaFinalProgramarManual">Hora Final</label>
                        <input id="horaFinalProgramarManual" name="horaFinalProgramarManual" class="input" type="time" />
                    </div>
                    <div class="botones">
                        <button id="programarGrupoManualBtn" class="btn btn--dark" type="submit">Programar</button>
                    </div>
                </div>
            </form>
        </section>
    {% endblock %}
