
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Registro Semestre Académico{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Registro de semestre académico</h1>
        <p class="contexto--app-descripcion">Esta opción le permite registrar un nuevo semestre académico a iniciar o actualizar
            su estado.
        Al registrar un semestre, este quedará activo yel semestre activo utilizado para la calendarización de exámenes. <i>Anotación: el semestre anterior quedará en
                estado de inactividad.</i></p>
        <section class="section">
            <h1 class="section-titulo">Actualizar estado de semestre académico</h1>
            <p class="descripcion">Modifique el estado del semestre académico en curso. Puede inactivarlo o reactivarlo
            dependiendo del estado en el que se encuentre.</p>
            <div class="list_container indicador_activo">
                <ul class="calendario_inactivos">
                    <li class="festivos-item macro_item macro_item--non_full">
                        <span class="info"><strong>Semestre actual: {{ ultimo_semestre_academico.anio }} -
            {{ ultimo_semestre_academico.periodo }}</strong></span>
                        <div class="icon_box">
                            <a id="iconoEstadoSemestreActual" class="fav_link {% if ultimo_semestre_academico.activo %}icono--activo{% endif %}"
                            data-estado="true">
                                <span class="icon_container">
                                    <span class="icon icon--sm"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <section class="section">
                <div class="botones">
                    <a id="actualizarEstadoSemestreActualBtn" class="btn btn--dark" type="submit">{% if ultimo_semestre_academico.activo %}Inactivar semestre{% else %}Reactivar semestre{% endif %}</a>
                </div>
            </section>
        </section>
        <section class="section">
            <h1 class="section-titulo">Calendario académico</h1>
            <p class="descripcion">Configure las fechas de inicio y fin del semestre según el calendario académico.</p>
            <p class="descripcion"><strong>Anotación:</strong> Las fechas de inicio y fin deben ir desde el
                <strong>"INICIO DE CLASES"</strong> hasta el <strong>"INICIO DE RECESO ACADÉMICO"</strong>, respectivamente.
            <form class="form form--horizontal">
                <div class="form-grupo">
                    <div class="input_group input_group--4">
                        <label class="label" for="fechaInicioNuevoSemestreAcademico">Fecha Inicio de Semestre</label>
                        <input id="fechaInicioNuevoSemestreAcademico" name="fechaInicioNuevoSemestreAcademico" type="date" class="input"
                        value="{{ primeros_previos.fecha_inicio|date:'Y-m-d' }}" />
                    </div>
                    <div class="input_group input_group--4">
                        <label class="label" for="fechaFinNuevoSemestreAcademico">Fecha Fin de Semestre</label>
                        <input id="fechaFinNuevoSemestreAcademico" name="fechaFinNuevoSemestreAcademico" type="date" class="input"
                        value="{{ primeros_previos.fecha_fin|date:'Y-m-d' }}" />
                    </div>
                    <div class="input_group input_group--5">
                        <label class="label" for="periodoNuevoSemestreAcademico">Período</label>
                        <select id="periodoNuevoSemestreAcademico" name="periodoNuevoSemestreAcademico" class="input">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="botones">
                        <button id="registrarSemestreAcademicoBtn" class="btn btn--dark" type="submit">Registrar Semestre</button>
                    </div>
                </div>
            </form>
        </section>
        <section class="section">
            <h1 class="section-titulo">Historial de semestres académicos</h1>
            <p class="descripcion">Visualice los semestres configurados hasta la fecha según el Calendario Académico de
            la UFPS.</p>
            {% if semestres_calendarios_academicos %}
                <div class="table_layout table_layout--estilo1 table_layout--full table_layout--resultados box_container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Año</th>
                                <th>Período</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for semestre_calendario in semestres_calendarios_academicos %}
                                <tr class="{% if semestre_calendario.activo %}activo{% endif %}">
                                    <td>{{ semestre_calendario.anio }}</td>
                                    <td>{{ semestre_calendario.periodo }}</td>
                                    <td>{{ semestre_calendario.fecha_inicio }}</td>
                                    <td>{{ semestre_calendario.fecha_fin }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="descripcion">No se encontraron semestres académicos registrados.</p>
            {% endif %}
        </section>
    {% endblock %}
