
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Registro de Docentes{% endblock %}
    {% block main_header %}
        {% include 'director_programa/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Registro de docentes</h1>
        <p class="contexto--app-descripcion">Esta opción le permite habilitar el acceso a los docentes
            asociados al programa mediante el registro de su cuenta de correo institucional.</p>
        <section class="section">
            <h1 class="section-titulo">Actualizar datos de acceso del docente</h1>
            <p class="descripcion">Modifique el correo electrónico institucional de los docentes para su ingreso
                a la aplicación.</p>
            <form class="form form--horizontal">
                <div class="form-grupo">
                    <div class="input_group input_group--2">
                        <label class="label" for="fechaInicioNuevoSemestreAcademico">Nombre del Profesor</label>
                        <select id="infoProfesor" name="infoProfesor" class="input">
                            {% for profesor in profesores %}
                                <option value="{{ profesor.id }}">{{ profesor.departamento }}{{ profesor.codigo }} - {{ profesor.nombres }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-grupo">
                    <div class="input_group input_group--3">
                        <label class="label" for="correoProfesor">Correo Electrónico</label>
                        <input id="correoProfesor" name="correoProfesor" type="email" class="input"
                        value="{{ profesor.correoelectronico|default:'' }}" />
                    </div>
                    <div class="botones">
                        <button id="actualizarCorreoProfesorBtn" class="btn btn--dark" type="submit">Guardar</button>
                    </div>
                </div>
            </form>
        </section>
    {% endblock %}
