{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body style="box-sizing:border-box;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;" >
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table wrapper" style="border-collapse:collapse;font-size:1rem;margin-left:auto;margin-right:auto;max-width:600px;width:95%;-webkit-text-size-adjust:none;" >
		<tr class="table-header" style="border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:rgba(226,226,226, .3);height:75px;max-height:75px;" >
			<td align="center" class="banner_logo" style="padding-top:1rem;padding-bottom:1rem;padding-right:1rem;padding-left:1rem;" >
                <a href="#!">
                    <figure>
                        <img class="logo" src="{% static 'logo_sistemas_h.png' %}" alt="Programa de Ingeniería de
                        Sistemas" style="width:75%;" >
                    </figure>
                </a>
                <a class="enlace" href="{{ website }}" style="font-size:.8rem;" >Sitio Web</a>
			</td>
		</tr>
		<tr class="table-content">
			<td class="message" style="padding-top:1rem;padding-bottom:1rem;padding-right:1rem;padding-left:1rem;color:#0f0f0f;" >
                <table style="border-collapse:collapse;font-size:1rem;margin-left:auto;margin-right:auto;max-width:600px;width:95%;-webkit-text-size-adjust:none;" >
                    <tr>
                        <td class="message-title" style="padding-top:1rem;padding-bottom:1rem;padding-right:1rem;padding-left:1rem;font-size:1.5rem;" >{{ titulo_mensaje }}</td>
                    </tr>
                    <tr>
                        <td align="justify" class="message-body" style="padding-top:1rem;padding-bottom:1rem;padding-right:1rem;padding-left:1rem;" >
                            {{ mensaje }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="download" style="padding-top:1rem;padding-bottom:1rem;padding-right:1rem;padding-left:1rem;background-color:rgba(226,226,226, .3);background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;" >
                <p>Descargue nuestra aplicación: <a href="#!">Android</a></p>
            </td>
        </tr>
		<tr class="table-from" style="font-style:italic;font-size:.8rem;" >
			<td style="padding-top:1rem;padding-bottom:1rem;padding-right:1rem;padding-left:1rem;" >Programa de Ingeniería de Sistemas, Universidad Francisco de Paula Santander</td>
		</tr>
	</table>
</body>
</html>