{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}Khronos{% endblock %}</title>
    <script src="https://apis.google.com/js/api:client.js"></script>
    {% block styles %}
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <link rel="stylesheet" href="{% static 'styles/css/main.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/libs/fullcalendar.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/libs/loaders.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/libs/balloon.min.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700">
    {% endblock %}
</head>
<body>
    <div class="main_container {% if not user.is_authenticated %}login{% endif %}">
    {% block svg %}
        <svg class="hidden">
            <symbol id="icon-menu" viewBox="0 0 20 20">
                <title>Menú</title>
                <path d="M16.4 9h-12.8c-0.552 0-0.6 0.447-0.6 1s0.048 1 0.6 1h12.8c0.552 0 0.6-0.447 0.6-1s-0.048-1-0.6-1zM16.4 13h-12.8c-0.552 0-0.6 0.447-0.6 1s0.048 1 0.6 1h12.8c0.552 0 0.6-0.447 0.6-1s-0.048-1-0.6-1zM3.6 7h12.8c0.552 0 0.6-0.447 0.6-1s-0.048-1-0.6-1h-12.8c-0.552 0-0.6 0.447-0.6 1s0.048 1 0.6 1z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_calendar" viewBox="0 0 30 32">
            <title>Calendario</title>
                <path class="path1" d="M10 12h4v4h-4zM16 12h4v4h-4zM22 12h4v4h-4zM4 24h4v4h-4zM10 24h4v4h-4zM16 24h4v4h-4zM10 18h4v4h-4zM16 18h4v4h-4zM22 18h4v4h-4zM4 18h4v4h-4zM26 0v2h-4v-2h-14v2h-4v-2h-4v32h30v-32h-4zM28 30h-26v-22h26v22z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-question" viewBox="0 0 20 20">
                <title>question</title>
                <path d="M10 20c-5.523 0-10-4.477-10-10s4.477-10 10-10v0c5.523 0 10 4.477 10 10s-4.477 10-10 10v0zM12 7c0 0.28-0.21 0.8-0.42 1l-1.58 1.58c-0.57 0.58-1 1.6-1 2.42v1h2v-1c0-0.29 0.21-0.8 0.42-1l1.58-1.58c0.57-0.58 1-1.6 1-2.42 0-2.209-1.791-4-4-4s-4 1.791-4 4v0h2c0-1.105 0.895-2 2-2s2 0.895 2 2v0zM9 15v2h2v-2h-2z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_books" viewBox="0 0 36 32">
            <title>Materias</title>
                <path class="path1"
                      d="M7 4h-6c-0.55 0-1 0.45-1 1v22c0 0.55 0.45 1 1 1h6c0.55 0 1-0.45 1-1v-22c0-0.55-0.45-1-1-1zM6 10h-4v-2h4v2z"></path>
                <path class="path2"
                      d="M17 4h-6c-0.55 0-1 0.45-1 1v22c0 0.55 0.45 1 1 1h6c0.55 0 1-0.45 1-1v-22c0-0.55-0.45-1-1-1zM16 10h-4v-2h4v2z"></path>
                <path class="path3"
                      d="M23.909 5.546l-5.358 2.7c-0.491 0.247-0.691 0.852-0.443 1.343l8.999 17.861c0.247 0.491 0.852 0.691 1.343 0.443l5.358-2.7c0.491-0.247 0.691-0.852 0.443-1.343l-8.999-17.861c-0.247-0.491-0.852-0.691-1.343-0.443z"></path>
                <path class="path4" d="M29 27c0 0.552-0.448 1-1 1s-1-0.448-1-1c0-0.552 0.448-1 1-1s1 0.448 1 1z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-configuraciones" viewBox="0 0 32 32">
                <title>configuraciones</title>
                <path d="M29.181 19.070c-1.679-2.908-0.669-6.634 2.255-8.328l-3.145-5.447c-0.898 0.527-1.943 0.829-3.058 0.829-3.361 0-6.085-2.742-6.085-6.125h-6.289c0.008 1.044-0.252 2.103-0.811 3.070-1.679 2.908-5.411 3.897-8.339 2.211l-3.144 5.447c0.905 0.515 1.689 1.268 2.246 2.234 1.676 2.903 0.672 6.623-2.241 8.319l3.145 5.447c0.895-0.522 1.935-0.82 3.044-0.82 3.35 0 6.067 2.725 6.084 6.092h6.289c-0.003-1.034 0.259-2.080 0.811-3.038 1.676-2.903 5.399-3.894 8.325-2.219l3.145-5.447c-0.899-0.515-1.678-1.266-2.232-2.226zM16 22.479c-3.578 0-6.479-2.901-6.479-6.479s2.901-6.479 6.479-6.479c3.578 0 6.479 2.901 6.479 6.479s-2.901 6.479-6.479 6.479z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-home" viewBox="0 0 32 32">
                <title>Inicio</title>
                <path d="M32 19l-6-6v-9h-4v5l-6-6-16 16v1h4v10h10v-6h4v6h10v-10h4z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-notificaciones" viewBox="0 0 36 32">
                <title>Notificaciones</title>
                <path class="path1" d="M32 13.414c0-6.279-1.837-11.373-4.109-11.413 0.009-0 0.018-0.001 0.027-0.001h-2.592c0 0-6.088 4.573-14.851 6.367-0.268 1.415-0.438 3.102-0.438 5.047s0.171 3.631 0.438 5.047c8.763 1.794 14.851 6.367 14.851 6.367h2.592c-0.009 0-0.018-0.001-0.027-0.001 2.272-0.040 4.109-5.134 4.109-11.413zM27.026 23.102c-0.293 0-0.61-0.304-0.773-0.486-0.395-0.439-0.775-1.124-1.1-1.979-0.727-1.913-1.127-4.478-1.127-7.223s0.4-5.309 1.127-7.223c0.325-0.855 0.705-1.54 1.1-1.979 0.163-0.182 0.48-0.486 0.773-0.486s0.61 0.304 0.773 0.486c0.395 0.439 0.775 1.124 1.1 1.979 0.727 1.913 1.127 4.479 1.127 7.223s-0.4 5.309-1.127 7.223c-0.325 0.855-0.705 1.54-1.1 1.979-0.163 0.181-0.48 0.486-0.773 0.486zM7.869 13.414c0-1.623 0.119-3.201 0.345-4.659-1.48 0.205-2.779 0.323-4.386 0.323-2.096 0-2.096 0-2.096 0l-1.733 2.959v2.755l1.733 2.959c0 0 0 0 2.096 0 1.606 0 2.905 0.118 4.386 0.323-0.226-1.458-0.345-3.036-0.345-4.659zM11.505 20.068l-4-0.766 2.558 10.048c0.132 0.52 0.648 0.782 1.146 0.583l3.705-1.483c0.498-0.199 0.698-0.749 0.444-1.221l-3.853-7.161zM27.026 17.148c-0.113 0-0.235-0.117-0.298-0.187-0.152-0.169-0.299-0.433-0.424-0.763-0.28-0.738-0.434-1.726-0.434-2.784s0.154-2.046 0.434-2.784c0.125-0.33 0.272-0.593 0.424-0.763 0.063-0.070 0.185-0.187 0.298-0.187s0.235 0.117 0.298 0.187c0.152 0.169 0.299 0.433 0.424 0.763 0.28 0.737 0.434 1.726 0.434 2.784s-0.154 2.046-0.434 2.784c-0.125 0.33-0.272 0.593-0.424 0.763-0.063 0.070-0.185 0.187-0.298 0.187z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_commenting" viewBox="0 0 34 32">
                <title>Pendiente</title>
                <path class="path1" d="M11.429 16q0-0.946-0.67-1.616t-1.616-0.67-1.616 0.67-0.67 1.616 0.67 1.616 1.616 0.67 1.616-0.67 0.67-1.616zM18.286 16q0-0.946-0.67-1.616t-1.616-0.67-1.616 0.67-0.67 1.616 0.67 1.616 1.616 0.67 1.616-0.67 0.67-1.616zM25.143 16q0-0.946-0.67-1.616t-1.616-0.67-1.616 0.67-0.67 1.616 0.67 1.616 1.616 0.67 1.616-0.67 0.67-1.616zM32 16q0 3.107-2.143 5.741t-5.821 4.161-8.036 1.527q-1.964 0-3.768-0.321-3.089 3.089-7.768 4.089-0.929 0.179-1.536 0.232-0.214 0.018-0.393-0.107t-0.232-0.321q-0.071-0.268 0.357-0.661 0.089-0.089 0.42-0.384t0.455-0.42 0.42-0.455 0.429-0.563 0.366-0.661 0.357-0.857 0.259-1.027 0.223-1.295q-2.607-1.607-4.098-3.866t-1.491-4.813q0-3.107 2.143-5.741t5.821-4.161 8.036-1.527 8.036 1.527 5.821 4.161 2.143 5.741z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_device_mobile" viewBox="0 0 20 32">
                <title>device-mobile</title>
                <path class="path1" d="M18 0h-16c-1.103 0-2 0.896-2 2v28c0 1.105 0.896 2 2 2h16c1.105 0 2-0.895 2-2v-28c0-1.103-0.895-2-2-2zM9 2h2c0.551 0 1 0.448 1 1s-0.449 1-1 1h-2c-0.552 0-1-0.448-1-1s0.448-1 1-1zM11 30h-2c-0.552 0-1-0.449-1-1s0.448-1 1-1h2c0.551 0 1 0.449 1 1s-0.449 1-1 1zM18 26h-16v-20h16v20z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon_star_full" viewBox="0 0 32 32">
                <title>star-full</title>
                <path class="path1" d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-new-calendar" viewBox="0 0 26 28">
                <title>Nuevo Calendario</title>
                <path d="M24 4c1.094 0 2 0.906 2 2v20c0 1.094-0.906 2-2 2h-22c-1.094 0-2-0.906-2-2v-20c0-1.094 0.906-2 2-2h2v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h6v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h2zM18 2.5v4.5c0 0.281 0.219 0.5 0.5 0.5h1c0.281 0 0.5-0.219 0.5-0.5v-4.5c0-0.281-0.219-0.5-0.5-0.5h-1c-0.281 0-0.5 0.219-0.5 0.5zM6 2.5v4.5c0 0.281 0.219 0.5 0.5 0.5h1c0.281 0 0.5-0.219 0.5-0.5v-4.5c0-0.281-0.219-0.5-0.5-0.5h-1c-0.281 0-0.5 0.219-0.5 0.5zM24 26v-16h-22v16h22zM14 17h3.5c0.281 0 0.5 0.219 0.5 0.5v1c0 0.281-0.219 0.5-0.5 0.5h-3.5v3.5c0 0.281-0.219 0.5-0.5 0.5h-1c-0.281 0-0.5-0.219-0.5-0.5v-3.5h-3.5c-0.281 0-0.5-0.219-0.5-0.5v-1c0-0.281 0.219-0.5 0.5-0.5h3.5v-3.5c0-0.281 0.219-0.5 0.5-0.5h1c0.281 0 0.5 0.219 0.5 0.5v3.5z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-nuevo-semestre" viewBox="0 0 32 32">
                <title>calendar</title>
                <path d="M12.048 16.961c-0.178 0.257-0.395 0.901-0.652 1.059-0.257 0.157-0.547 0.267-0.869 0.328-0.323 0.062-0.657 0.089-1.002 0.079v1.527h2.467v6.046h1.991v-9.996h-1.584c-0.056 0.381-0.173 0.7-0.351 0.957zM23 8h2c0.553 0 1-0.448 1-1v-6c0-0.552-0.447-1-1-1h-2c-0.553 0-1 0.448-1 1v6c0 0.552 0.447 1 1 1zM7 8h2c0.552 0 1-0.448 1-1v-6c0-0.552-0.448-1-1-1h-2c-0.552 0-1 0.448-1 1v6c0 0.552 0.448 1 1 1zM30 4h-2v5c0 0.552-0.447 1-1 1h-6c-0.553 0-1-0.448-1-1v-5h-8v5c0 0.552-0.448 1-1 1h-6c-0.552 0-1-0.448-1-1v-5h-2c-1.104 0-2 0.896-2 2v24c0 1.104 0.896 2 2 2h28c1.104 0 2-0.896 2-2v-24c0-1.104-0.896-2-2-2zM30 29c0 0.553-0.447 1-1 1h-26c-0.552 0-1-0.447-1-1v-16c0-0.552 0.448-1 1-1h26c0.553 0 1 0.448 1 1v16zM15.985 17.982h4.968c-0.936 1.152-1.689 2.325-2.265 3.705-0.575 1.381-0.638 2.818-0.749 4.312h2.131c0.009-0.666-0.195-1.385-0.051-2.156 0.146-0.771 0.352-1.532 0.617-2.285 0.267-0.752 0.598-1.461 0.996-2.127 0.396-0.667 0.853-1.229 1.367-1.686v-1.742h-7.015v1.979z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-festivos" viewBox="0 0 26 28">
                <title>calendar-times-o</title>
                <path d="M17.359 21.641l-0.719 0.719c-0.187 0.187-0.5 0.187-0.703 0l-2.938-2.953-2.938 2.953c-0.203 0.187-0.516 0.187-0.703 0l-0.719-0.719c-0.187-0.187-0.187-0.5 0-0.703l2.953-2.938-2.953-2.938c-0.187-0.203-0.187-0.516 0-0.703l0.719-0.719c0.187-0.187 0.5-0.187 0.703 0l2.938 2.938 2.938-2.938c0.203-0.187 0.516-0.187 0.703 0l0.719 0.719c0.187 0.187 0.187 0.5 0 0.703l-2.938 2.938 2.938 2.938c0.187 0.203 0.187 0.516 0 0.703zM2 26h22v-16h-22v16zM8 7v-4.5c0-0.281-0.219-0.5-0.5-0.5h-1c-0.281 0-0.5 0.219-0.5 0.5v4.5c0 0.281 0.219 0.5 0.5 0.5h1c0.281 0 0.5-0.219 0.5-0.5zM20 7v-4.5c0-0.281-0.219-0.5-0.5-0.5h-1c-0.281 0-0.5 0.219-0.5 0.5v4.5c0 0.281 0.219 0.5 0.5 0.5h1c0.281 0 0.5-0.219 0.5-0.5zM26 6v20c0 1.094-0.906 2-2 2h-22c-1.094 0-2-0.906-2-2v-20c0-1.094 0.906-2 2-2h2v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h6v-1.5c0-1.375 1.125-2.5 2.5-2.5h1c1.375 0 2.5 1.125 2.5 2.5v1.5h2c1.094 0 2 0.906 2 2z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-lista" viewBox="0 0 32 32">
                <title>list-numbered</title>
                <path d="M12 26h20v4h-20zM12 14h20v4h-20zM12 2h20v4h-20zM6 0v8h-2v-6h-2v-2zM4 16.438v1.563h4v2h-6v-4.563l4-1.875v-1.563h-4v-2h6v4.563zM8 22v10h-6v-2h4v-2h-4v-2h4v-2h-4v-2z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-horario" viewBox="0 0 32 32">
                <title>chronometer</title>
                <path d="M28.054 18.571c0 6.933-5.62 12.554-12.554 12.554s-12.554-5.621-12.554-12.554c0-6.722 5.286-12.192 11.927-12.521v-2.166h-0.941c-0.555 0-1.005-0.45-1.005-1.005s0.45-1.004 1.005-1.004h3.012c0.555 0 1.005 0.449 1.005 1.004s-0.45 1.005-1.005 1.005h-1.066v2.153c6.757 0.2 12.176 5.729 12.176 12.534zM14.873 9.909v-2.291c-3.109 0.176-5.866 1.64-7.766 3.858l1.653 1.653-0.71 0.711-1.565-1.566c-1.274 1.798-2.032 3.987-2.032 6.359 0 0.106 0.015 0.251 0.015 0.251h2.432v1.005h-2.36c0.244 2.052 1.057 3.987 2.268 5.534l1.243-1.243 0.71 0.71-1.296 1.297c1.879 1.996 4.488 3.297 7.408 3.462v-2.729h1.004v2.742c2.989-0.102 5.67-1.393 7.599-3.41l-1.424-1.424 0.71-0.71 1.377 1.376c1.24-1.56 2.074-3.521 2.322-5.604h-2.55v-1.005h2.621c0.003-0.104 0.016-0.145 0.016-0.251 0-2.438-0.8-4.681-2.138-6.505l-1.648 1.648-0.71-0.71 1.726-1.725c-1.947-2.203-4.753-3.631-7.9-3.737v2.304h-1.005zM15.939 18.885h3.516c0.277 0 0.502 0.226 0.502 0.502 0 0.277-0.225 0.503-0.502 0.503h-4.018c-0.277 0-0.502-0.226-0.502-0.503v-6.967c0-0.277 0.225-0.502 0.502-0.502s0.502 0.225 0.502 0.502v6.465z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-docente" viewBox="0 0 32 32">
                <title>Docente</title>
                <path d="M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-peso" viewBox="0 0 32 32">
                <title>justice</title>
                <path d="M24.064 6.583l-3.773 8.375h-1.098l4.024-8.916h-6.213v20.771c1.28 0.047 7.813 2.167 7.813 2.167v1.020h-17.56v-1.089c0 0 6.678-2.099 7.684-2.099v-20.77h-6.015l4.025 8.916h-1.098l-3.773-8.375-3.773 8.375h-1.098l4.048-8.966v-1.034h6.754c0-1.353 0.907-2.458 1.965-2.458 1.119 0 1.965 1.168 1.965 2.458h6.878v0.887l4.116 9.113h-1.098l-3.773-8.375zM13.020 15.979c0 2.693-1.868 5.282-4.939 5.282-3.002 0-4.939-2.589-4.939-5.282-0.001 0.004 9.878 0.004 9.878 0zM19.262 15.979c0 0.005 9.879 0.005 9.879 0 0 2.693-1.868 5.282-4.939 5.282-3.003 0-4.94-2.589-4.94-5.282z"></path>
            </symbol>
        </svg>
        <svg class="hidden">
            <symbol id="icon-microsoftexcel" viewBox="0 0 32 32">
                <title>microsoftexcel</title>
                <path d="M31.404 4.136h-10.72v1.984h3.16v3.139h-3.16v1h3.16v3.143h-3.16v1.028h3.16v2.972h-3.16v1.191h3.16v2.979h-3.16v1.191h3.16v2.996h-3.16v2.185h10.72c0.169-0.051 0.311-0.251 0.424-0.597 0.113-0.349 0.172-0.633 0.172-0.848v-21.999c0-0.171-0.059-0.273-0.172-0.309-0.113-0.035-0.255-0.053-0.424-0.053zM30.013 25.755h-5.143v-2.993h5.143v2.993zM30.013 21.571h-5.143v-2.98h5.143v2.98zM30.013 17.4h-5.143v-2.959h5.143v2.959zM30.013 13.4h-5.143v-3.139h5.143v3.139zM30.013 9.241h-5.143v-3.12h5.143v3.12zM0 3.641v24.801l18.88 3.265v-31.416l-18.88 3.349zM11.191 22.403c-0.072-0.195-0.411-1.021-1.011-2.484-0.599-1.461-0.96-2.312-1.065-2.555h-0.033l-2.025 4.82-2.707-0.183 3.211-6-2.94-6 2.76-0.145 1.824 4.695h0.036l2.060-4.908 2.852-0.18-3.396 6.493 3.5 6.624-3.065-0.177z"></path>
            </symbol>
        </svg>
    {% endblock %}
    {% if user.is_authenticated %}
        <svg class="hidden">
            <symbol id="icon_switch" viewBox="0 0 32 32">
                <title>switch</title>
                <path class="path1" d="M20 4.581v4.249c1.131 0.494 2.172 1.2 3.071 2.099 1.889 1.889 2.929 4.4 2.929 7.071s-1.040 5.182-2.929 7.071c-1.889 1.889-4.4 2.929-7.071 2.929s-5.182-1.040-7.071-2.929c-1.889-1.889-2.929-4.4-2.929-7.071s1.040-5.182 2.929-7.071c0.899-0.899 1.94-1.606 3.071-2.099v-4.249c-5.783 1.721-10 7.077-10 13.419 0 7.732 6.268 14 14 14s14-6.268 14-14c0-6.342-4.217-11.698-10-13.419zM14 0h4v16h-4z"></path>
            </symbol>
        </svg>
    {% endif %}
        <header class="main_header">
            <a href="//ingsistemas.ufps.edu.co" title="Programa de Ingeniería de Sistemas" target="_blank">
                <figure>
                    <img class="logo" src="{% static 'images/logo_sistemas_h.png'%}" alt="Programa de Ingeniería de
                    Sistemas">
                </figure>
            </a>
            <ul class="links">
                <li class="links-item">
                    <a id="menu_navbar_icon" title="Mi calendario">
                        <span class="icon icon--medium">
                            <svg class="icon--medium" viewBox="0 0 309.267 309.267">
                                <use class="ic-1" xlink:href="#icon-menu" />
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
            <h1 class="app_title">Khronos</h1>
            {% block main_header %}{% endblock %}
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:log-out' %}" onclick="signOut();" class="btn logout" title="Cerrar sesión">
                    <span class="icon_container">
                        <svg class="icon icon--sm" viewBox="0 0 309.267 309.267">
                            <use class="ic-1" xlink:href="#icon_switch" />
                        </svg>
                    </span>
                </a>
            {% endif %}
        </header>

        <div class="content_container content_container--app">

            {% block navbar_app %}
            {% endblock %}

            <div id="contexto--app" class="contexto--app">
                {% block content_app %}
                {% endblock %}
            </div>
        </div>
        {% block dialogo_cover %}
        {% endblock %}
        <div id="mensaje_container"></div>
    </div>
    <footer class="main_footer">
        <p class="copyright">Programa de Ingeniería de Sistemas. Todos los derechos reservados &copy; - 2018</p>
    </footer>
        <script>var cargarCalendarioVista = false, cargarCalendarioTemporalVista = false;</script>

    <script src="{% static 'scripts/libs/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/libs/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'scripts/libs/fullcalendar.min.js' %}"></script>
    <script src="{% static 'scripts/libs/ajax_config.js' %}"></script>
    <script src="{% static 'scripts/efectos.js' %}"></script>
    <script src="{% static 'scripts/libs/popper.min.js' %}"></script>
    <script src="{% static 'scripts/libs/tooltip.min.js' %}"></script>
    <script src="{% static 'scripts/actions.js' %}"></script>
    <script src="{% static 'scripts/libs/loaders.css.js' %}"></script>

    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>