
{% extends 'base_app.html' %}
{% load static %}
{% block title%}Khronos | Inicio{% endblock %}

    {% block main_header %}
        {% include 'estudiante/menu.html' %}
    {% endblock %}

    {% block content_app %}
        <h1 class="contexto--app-titulo">Calendario de exámenes</h1>
        <p class="contexto--app-descripcion">Visualice el calendario de sus exámenes para el semestre en curso.</p>
        <section class="section calendario">
            <div class="col--left">
                <div class="calendario_container box_container">
                    <div id='calendar' class="calendario"></div>
                </div>
            </div>
        </section>
    {% endblock %}

    {% block scripts %}
        <script>var cargarCalendarioVista = true;</script>
    {% endblock %}